.chart-container {
    display: flex;
    flex-direction: column;
    padding: 12px;
    gap: 12px;
    position: relative;
    background-color: #f9f9f9;
    border-radius: 4px;
    border: 1px solid #f0f0f0;
}

.chart-title {
    color: #2c2c2c;
    font-size: 14px;
    gap: 7px;
    margin: 5px;
    font-weight: 400;
    line-height: 17px;
}

.chart-line {
    height: 1px;
    background-color: #f0f0f0;
}

.container-justify {
    display: flex;
    justify-content: space-between;
}

.container-item {
    font-weight: 700;
    font-size: 20px;
    margin: 5px;
}

.grid {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    justify-content: center;
    gap: 8px;
}

.chart {
    display: flex;
    justify-content: space-between;
    padding: 13px;
    margin-top: 5px;
    gap: 8px;
    background-color: white;
    border-radius: 4px;
    border: 1px solid #f0f0f0;
    font-size: 12px;
    font-weight: 400;
    color: #2c2c2c;
}

.detailTable {
    position: absolute;
    max-width: 300px;
    width: auto;
    max-height: 200px;
    height: auto;
    border-radius: 4px;
    pointer-events: none;
    z-index: 999;
    overflow: auto;
}

th {
    width: 33.3%;
    height: 30px;
    font-size: 12px;
    font-weight: 400;
    background-color: #edeff1;
    padding: 8px 12px;
    color: #878787;
    border: 1px solid #ddd;
    gap: 10px;
    text-align: start;
}

td {
    width: 33.3%;
    height: 30px;
    font-size: 12px;
    font-weight: 400;
    background-color: white;
    padding: 8px 12px;
    color: #2c2c2c;
    border: 1px solid #ddd;
    gap: 10px;
    text-align: start;
}