.table-header-item[b-0bcxt2igyl] {
    font-weight: 700;
    font-size: 14px;
    padding: 16px 12px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%
}

.table-body-item[b-0bcxt2igyl] {
    font-weight: 400;
    font-size: 14px;
    padding: 16px 8px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
}