.swing-logo {
    margin-right: auto;
}

.nav-normal {
    display: flex;
    align-items: center;
    margin-right: 60px;
}

.css-normal {
    display: flex;
    align-items: center;
    gap: 40px;
}

.swing-top-item-text {
    color: #000000;
}

.swing-top-item-login-text {
    color: #0099ff;
    cursor: pointer;
}

ul {
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}