.table[b-fsecnd0u8e] {
    gap: 10px;
    width: 100%;
}

.table-header[b-fsecnd0u8e] {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    background-color: #f7f7f7;
    gap: 20px;
    height: 48px;
}

.table-body[b-fsecnd0u8e] {
    display: grid;
    align-items: center;
    gap: 20px;
    grid-template-columns: repeat(7, 1fr);
    border-bottom: 1px solid #f7f7f7;
}

.table-body:hover[b-fsecnd0u8e] {
    background-color: #f7f7f7;
}

.emptyText[b-fsecnd0u8e] {
    font-weight: 700;
    font-size: 14px;
    text-align: center;
    margin: 30px;
}

.paginationContainer[b-fsecnd0u8e] {
    display: flex; /* 플렉스 박스로 설정 */
    justify-content: center; /* 자식 요소를 가로로 중앙 정렬 */
    align-items: center; /* 자식 요소를 세로로 중앙 정렬 */
    gap: 8px; /* 버튼 간의 간격 */
    margin-top: 16px; /* 위쪽 여백 추가 */
}

.paginationArrow-button[b-fsecnd0u8e] {
    background-image: url("images/PaginationVector.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 8px;
    height: 15px;
    border: none;
    background-color: transparent;
}
.paginationArrow-button:disabled[b-fsecnd0u8e] {
    background-image: url("images/PaginationVector.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border: none;
    background-color: transparent;
}

.paginationArrow-button.prev[b-fsecnd0u8e] {
    transform: rotate(0deg);
}

.paginationArrow-button.next[b-fsecnd0u8e] {
    transform: rotate(180deg);
}

.pageButton[b-fsecnd0u8e] {
    background-image: none;
    background-color: transparent;
    border: none;
    font-size: 14px;
    text-align: center;
    gap: 32px;
}

.default[b-fsecnd0u8e] {
    color: #000000;
    font-weight: 400;
}

.selected[b-fsecnd0u8e] {
    color: #0099FF;
    font-weight: 700;
}