.modal-overlay[b-hw59suubep] {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  display: none;
  justify-content: center;
  align-items: center;
  padding-bottom: env(safe-area-inset-bottom);

  &.active {
    display: flex;
  }
  
  &.close[b-hw59suubep] {
    background-color: rgba(0, 0, 0, 0.1);
  }
}
