.chart-container[b-gdw2tktzck] {
    display: flex;
    flex-direction: column;
    padding: 12px;
    gap: 12px;
    position: relative;
    background-color: #f9f9f9;
    border-radius: 4px;
    border: 1px solid #f0f0f0;
}

.chart-title[b-gdw2tktzck] {
    color: #2c2c2c;
    font-size: 14px;
    gap: 7px;
    margin: 5px;
    font-weight: 400;
    line-height: 17px;
}

.chart-line[b-gdw2tktzck] {
    height: 1px;
    background-color: #f0f0f0;
}

.detailTable[b-gdw2tktzck] {
    position: absolute;
    max-width: 300px;
    width: auto;
    max-height: 500px;
    height: auto;
    border-radius: 4px;
    pointer-events: none;
    overflow: auto;
    z-index: 999;
}

th[b-gdw2tktzck] {
    height: 30px;
    font-size: 12px;
    font-weight: 400;
    background-color: #edeff1;
    color: #878787;
    text-align: center;
}

.grid-container[b-gdw2tktzck] {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.grid-item[b-gdw2tktzck] {
    height: 30px;
    font-size: 12px;
    font-weight: 400;
    background-color: white;
    padding: 8px 12px;
    color: #2c2c2c;
    text-align: center;
}

table[b-gdw2tktzck] {
    border: 1px solid #ddd;
    border-collapse: collapse;
    background-color: white;
}