/* _content/StartupWing_BlazorServer/Components/Dashboard/CashFlow.razor.rz.scp.css */
.chart-container[b-szcd0wglxp] {
    display: flex;
    flex-direction: column;
    padding: 12px;
    gap: 12px;
    position: relative;
    background-color: #f9f9f9;
    border-radius: 4px;
    border: 1px solid #f0f0f0;
}

.chart-title[b-szcd0wglxp] {
    color: #2c2c2c;
    font-size: 14px;
    gap: 7px;
    margin: 5px;
    font-weight: 400;
    line-height: 17px;
}

.chart-line[b-szcd0wglxp] {
    height: 1px;
    background-color: #f0f0f0;
}

.chart[b-szcd0wglxp] {
    padding: 13px;
    margin-top: 5px;
    gap: 8px;
    background-color: white;
    border-radius: 4px;
    border: 1px solid #f0f0f0;
    font-size: 12px;
    font-weight: 400;
}
/* _content/StartupWing_BlazorServer/Components/Dashboard/ContractManagement.razor.rz.scp.css */
.chart-container[b-5rijgg26w4] {
    display: flex;
    flex-direction: column;
    padding: 12px;
    gap: 12px;
    position: relative;
    background-color: #f9f9f9;
    border-radius: 4px;
    border: 1px solid #f0f0f0;
    width: 100%;
    max-width: 100%;
    overflow-x: auto;
    box-sizing: border-box;
}

.chart-title[b-5rijgg26w4] {
    color: #2c2c2c;
    font-size: 14px;
    gap: 7px;
    margin: 5px;
    font-weight: 400;
    line-height: 17px;
}

.chart-unit[b-5rijgg26w4] {
    color: #2c2c2c;
    font-size: 10px;
    font-weight: 400;
    line-height: 12px;
    text-align: right;
}

.chart-line[b-5rijgg26w4] {
    height: 1px;
    background-color: #f0f0f0;
}

.th[b-5rijgg26w4] {
    padding: 8px 12px;
    background-color: #f7f7f7;
    border: 1px solid #f0f0f0;
    font-weight: 400;
    font-size: 12px;
    line-height: 24px;
    color: #878787;
    resize: horizontal;
    overflow: auto;
    word-wrap: break-word;
    word-break: break-all;
}

.td[b-5rijgg26w4] {
    padding: 8px 12px;
    background-color: #ffffff;
    border-bottom: 1px solid #f0f0f0;
    font-weight: 400;
    font-size: 12px;
    line-height: 24px;
    color: #2c2c2c;
    word-wrap: break-word;
    word-break: break-all;
}
/* _content/StartupWing_BlazorServer/Components/Dashboard/FinancialOverview.razor.rz.scp.css */
.chart-container[b-gbutw5oqgb] {
    display: flex;
    flex-direction: column;
    padding: 12px;
    gap: 12px;
    position: relative;
    background-color: #f9f9f9;
    border-radius: 4px;
    border: 1px solid #f0f0f0;
    width: 100%;
    max-width: 100%;
    overflow-x: auto;
    box-sizing: border-box;
}

.chart-title[b-gbutw5oqgb] {
    color: #2c2c2c;
    font-size: 14px;
    gap: 7px;
    margin: 5px;
    font-weight: 400;
    line-height: 17px;
}

.chart-unit[b-gbutw5oqgb] {
    color: #2c2c2c;
    font-size: 10px;
    font-weight: 400;
    line-height: 12px;
    text-align: right;
}

.chart-line[b-gbutw5oqgb] {
    height: 1px;
    background-color: #f0f0f0;
}

.th[b-gbutw5oqgb] {
    padding: 8px 12px;
    background-color: #f7f7f7;
    border: 1px solid #f0f0f0;
    text-align: center;
    font-weight: 400;
    font-size: 12px;
    line-height: 24px;
    color: #878787;
    resize: horizontal;
    overflow: auto;
    word-wrap: break-word;
    word-break: break-all;
}

.td[b-gbutw5oqgb] {
    padding: 8px 12px;
    background-color: #ffffff;
    border-bottom: 1px solid #f0f0f0;
    font-weight: 400;
    font-size: 12px;
    line-height: 24px;
    color: #2c2c2c;
    word-wrap: break-word;
    word-break: break-all;
}
/* _content/StartupWing_BlazorServer/Components/Dashboard/GovFundProject.razor.rz.scp.css */
.chart-container[b-nn56e9frlz] {
    display: flex;
    flex-direction: column;
    padding: 12px;
    gap: 12px;
    position: relative;
    background-color: #f9f9f9;
    border-radius: 4px;
    border: 1px solid #f0f0f0;
    width: 100%;
    max-width: 100%;
    overflow-x: auto;
    box-sizing: border-box;
}

.chart-title[b-nn56e9frlz] {
    color: #2c2c2c;
    font-size: 14px;
    gap: 7px;
    margin: 5px;
    font-weight: 400;
    line-height: 17px;
}

.chart-unit[b-nn56e9frlz] {
    color: #2c2c2c;
    font-size: 10px;
    font-weight: 400;
    line-height: 12px;
    text-align: right;
}

.chart-line[b-nn56e9frlz] {
    height: 1px;
    background-color: #f0f0f0;
}

.th[b-nn56e9frlz] {
    padding: 8px 12px;
    background-color: #f7f7f7;
    border: 1px solid #f0f0f0;
    font-weight: 400;
    font-size: 12px;
    line-height: 24px;
    color: #878787;
    resize: horizontal;
    overflow: auto;
    word-wrap: break-word;
    word-break: break-all;
}

.td[b-nn56e9frlz] {
    padding: 8px 12px;
    background-color: #ffffff;
    border-bottom: 1px solid #f0f0f0;
    font-weight: 400;
    font-size: 12px;
    line-height: 24px;
    color: #2c2c2c;
    word-wrap: break-word;
    word-break: break-all;
}
/* _content/StartupWing_BlazorServer/Components/Dashboard/LegalEducation.razor.rz.scp.css */
.chart-container[b-gdw2tktzck] {
    display: flex;
    flex-direction: column;
    padding: 12px;
    gap: 12px;
    position: relative;
    background-color: #f9f9f9;
    border-radius: 4px;
    border: 1px solid #f0f0f0;
}

.chart-title[b-gdw2tktzck] {
    color: #2c2c2c;
    font-size: 14px;
    gap: 7px;
    margin: 5px;
    font-weight: 400;
    line-height: 17px;
}

.chart-line[b-gdw2tktzck] {
    height: 1px;
    background-color: #f0f0f0;
}

.detailTable[b-gdw2tktzck] {
    position: absolute;
    max-width: 300px;
    width: auto;
    max-height: 500px;
    height: auto;
    border-radius: 4px;
    pointer-events: none;
    overflow: auto;
    z-index: 999;
}

th[b-gdw2tktzck] {
    height: 30px;
    font-size: 12px;
    font-weight: 400;
    background-color: #edeff1;
    color: #878787;
    text-align: center;
}

.grid-container[b-gdw2tktzck] {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.grid-item[b-gdw2tktzck] {
    height: 30px;
    font-size: 12px;
    font-weight: 400;
    background-color: white;
    padding: 8px 12px;
    color: #2c2c2c;
    text-align: center;
}

table[b-gdw2tktzck] {
    border: 1px solid #ddd;
    border-collapse: collapse;
    background-color: white;
}
/* _content/StartupWing_BlazorServer/Components/Dashboard/MemberCount.razor.rz.scp.css */
.chart-container[b-5dp88mogio] {
    display: flex;
    flex-direction: column;
    padding: 12px;
    gap: 12px;
    position: relative;
    background-color: #f9f9f9;
    border-radius: 4px;
    border: 1px solid #f0f0f0;
}

.chart-title[b-5dp88mogio] {
    color: #2c2c2c;
    font-size: 14px;
    gap: 7px;
    margin: 5px;
    font-weight: 400;
    line-height: 17px;
}

.chart-line[b-5dp88mogio] {
    height: 1px;
    background-color: #f0f0f0;
}

.container-justify[b-5dp88mogio] {
    display: flex;
    justify-content: space-between;
}

.container-item[b-5dp88mogio] {
    font-weight: 700;
    font-size: 20px;
    margin: 5px;
}

.grid[b-5dp88mogio] {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    justify-content: center;
    gap: 8px;
}

.chart[b-5dp88mogio] {
    display: flex;
    justify-content: space-between;
    padding: 13px;
    margin-top: 5px;
    gap: 8px;
    background-color: white;
    border-radius: 4px;
    border: 1px solid #f0f0f0;
    font-size: 12px;
    font-weight: 400;
    color: #2c2c2c;
}
/* _content/StartupWing_BlazorServer/Components/Dashboard/MonthlyPerformanceManagement.razor.rz.scp.css */
.chart-container[b-g0qzv9shx5] {
    display: flex;
    flex-direction: column;
    padding: 12px;
    gap: 12px;
    position: relative;
    background-color: #f9f9f9;
    border-radius: 4px;
    border: 1px solid #f0f0f0;
}

.chart-title[b-g0qzv9shx5] {
    color: #2c2c2c;
    font-size: 14px;
    gap: 7px;
    margin: 5px;
    font-weight: 400;
    line-height: 17px;
}

.chart-line[b-g0qzv9shx5] {
    height: 1px;
    background-color: #f0f0f0;
}

.chart[b-g0qzv9shx5] {
    padding: 13px;
    margin-top: 5px;
    gap: 8px;
    background-color: white;
    border-radius: 4px;
    border: 1px solid #f0f0f0;
    font-size: 12px;
    font-weight: 400;
}
/* _content/StartupWing_BlazorServer/Components/Dashboard/SubscriptionManagement.razor.rz.scp.css */
.chart-container[b-pdg7z6isiq] {
    display: flex;
    flex-direction: column;
    padding: 12px;
    gap: 12px;
    position: relative;
    background-color: #f9f9f9;
    border-radius: 4px;
    border: 1px solid #f0f0f0;
}

.chart-title[b-pdg7z6isiq] {
    color: #2c2c2c;
    font-size: 14px;
    gap: 7px;
    margin: 5px;
    font-weight: 400;
    line-height: 17px;
}

.chart-line[b-pdg7z6isiq] {
    height: 1px;
    background-color: #f0f0f0;
}

.chart[b-pdg7z6isiq] {
    padding: 13px;
    margin-top: 5px;
    gap: 8px;
    background-color: white;
    border-radius: 4px;
    border: 1px solid #f0f0f0;
    font-size: 12px;
    font-weight: 400;
}
/* _content/StartupWing_BlazorServer/Components/Dashboard/TodayHoliday.razor.rz.scp.css */
.chart-container[b-paibkhz1hu] {
    display: flex;
    flex-direction: column;
    padding: 12px;
    gap: 12px;
    position: relative;
    background-color: #f9f9f9;
    border-radius: 4px;
    border: 1px solid #f0f0f0;
}

.chart-title[b-paibkhz1hu] {
    color: #2c2c2c;
    font-size: 14px;
    gap: 7px;
    margin: 5px;
    font-weight: 400;
    line-height: 17px;
}

.chart-line[b-paibkhz1hu] {
    height: 1px;
    background-color: #f0f0f0;
}

.container-justify[b-paibkhz1hu] {
    display: flex;
    justify-content: space-between;
}

.container-item[b-paibkhz1hu] {
    font-weight: 700;
    font-size: 20px;
    margin: 5px;
}

.grid[b-paibkhz1hu] {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    justify-content: center;
    gap: 8px;
}

.chart[b-paibkhz1hu] {
    display: flex;
    justify-content: space-between;
    padding: 13px;
    margin-top: 5px;
    gap: 8px;
    background-color: white;
    border-radius: 4px;
    border: 1px solid #f0f0f0;
    font-size: 12px;
    font-weight: 400;
    color: #2c2c2c;
}

.detailTable[b-paibkhz1hu] {
    position: absolute;
    max-width: 300px;
    width: auto;
    max-height: 200px;
    height: auto;
    border-radius: 4px;
    pointer-events: none;
    z-index: 999;
    overflow: auto;
}

th[b-paibkhz1hu] {
    width: 33.3%;
    height: 30px;
    font-size: 12px;
    font-weight: 400;
    background-color: #edeff1;
    padding: 8px 12px;
    color: #878787;
    border: 1px solid #ddd;
    gap: 10px;
    text-align: start;
}

td[b-paibkhz1hu] {
    width: 33.3%;
    height: 30px;
    font-size: 12px;
    font-weight: 400;
    background-color: white;
    padding: 8px 12px;
    color: #2c2c2c;
    border: 1px solid #ddd;
    gap: 10px;
    text-align: start;
}
/* _content/StartupWing_BlazorServer/Components/Layout/HeadMenu.razor.rz.scp.css */
.swing-logo[b-e2txim5d6t] {
    margin-right: auto;
}

.nav-normal[b-e2txim5d6t] {
    display: flex;
    align-items: center;
    margin-right: 60px;
}

.css-normal[b-e2txim5d6t] {
    display: flex;
    align-items: center;
    gap: 40px;
}

.swing-top-item-text[b-e2txim5d6t] {
    color: #000000;
}

.swing-top-item-login-text[b-e2txim5d6t] {
    color: #0099ff;
    cursor: pointer;
}

ul[b-e2txim5d6t] {
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}
/* _content/StartupWing_BlazorServer/Components/Layout/MainLayout.razor.rz.scp.css */
body[b-ryurj7oiee] {
    font-weight: 400;
    line-height: 1;
}

.swing-header[b-ryurj7oiee] {
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.1) 4px 4px 12px 0;
    height: 80px;
}

.swing-top[b-ryurj7oiee] {
    display: flex;
    width: 100%;
    height: 100%;
    padding: 15px 40px;
    margin: 0 auto;
    font-weight: 700;
    font-size: 18px;
}

.swing-main[b-ryurj7oiee] {
    display: flex;
    width: 100%;
}

.side-menu[b-ryurj7oiee] {
    background-color: #eeeeee;
    width: 220px;
    min-width: 220px;
    padding: 20px 40px;
}

.main-page[b-ryurj7oiee] {
    width: 100%;
    min-height: calc(100dvh - 80px);
}

.main-article[b-ryurj7oiee] {
    padding: 30px 40px;
    gap: 30px;
}
/* _content/StartupWing_BlazorServer/Components/Layout/SideMenu.razor.rz.scp.css */
ul[b-akn7ei0jgb] {
    list-style: none;
    display: block;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0;
    margin-inline-end: 0;
}

nav[b-akn7ei0jgb] {
    display: block;
}

li[b-akn7ei0jgb] {
    display: list-item;
}

.list-item[b-akn7ei0jgb] {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    border-radius: 8px;
    gap: 8px;
    color: #0099FF;
}

.image[b-akn7ei0jgb] {
    width: 30%;
    height: 100%;
}

.text[b-akn7ei0jgb] {
    width: 100%;
    height: 100%;
}

.image-item[b-akn7ei0jgb] {

}

.image-item-select[b-akn7ei0jgb] {
    filter: invert(43%) sepia(71%) saturate(3265%) hue-rotate(183deg) brightness(104%) contrast(105%);
}

.text-item[b-akn7ei0jgb] {
    font-size: 14px;
    color: black;
}

.text-item-select[b-akn7ei0jgb] {
    font-size: 14px;
    color: #0099FF;
}
/* _content/StartupWing_BlazorServer/Components/Modals/AddContractModal.razor.rz.scp.css */
input[b-wnnzo4frz8] {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
}

input[type="date"][b-wnnzo4frz8] {
    display: block;
    padding: 12px;
    width: 100%;
    height: 44px;
    border: 1px solid #D3D3D3;
    border-radius: 4px;
    box-shadow: none;
    background-color: white;
    outline: none;
    cursor: pointer;
}

input[b-wnnzo4frz8]::placeholder {
    color: #8A8A8A;
}

.modal-content[b-wnnzo4frz8] {
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 640px;
    max-height: 80vh;
    padding: 24px;
    border-radius: 12px;
    position: relative;
    align-items: center;
    gap: 20px;
    overflow-y: auto;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.modal-content[b-wnnzo4frz8]::-webkit-scrollbar {
    display: none;
}

.modal-content[b-wnnzo4frz8] {
    scrollbar-width: none;
}

.modalContentArea[b-wnnzo4frz8] {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 100%;
    height: auto;
}

.modalContentBoxing[b-wnnzo4frz8] {
    display: flex;
    flex-direction: column;
    gap: 2px;
    width: 100%;
    height: auto;
}

.modalTitle[b-wnnzo4frz8] {
    width: 100%;
    height: 24px;
    font-weight: 700;
    font-size: 20px;
    color: black;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.modalContentTitle[b-wnnzo4frz8] {
    display: block;
    font-size: 14px;
    font-weight: 400;
    color: #000000;
    text-align: left;
    line-height: 17px;
    width: auto;
    height: 17px;
    margin: 0;
    padding: 0;
}

.modalContentTypeA[b-wnnzo4frz8] {
    display: block;
    padding: 12px;
    width: 100%;
    height: 44px;
    border: 1px solid #D3D3D3;
    border-radius: 4px;
    box-shadow: none;
    background-color: white;
    outline: none;
}

.modalContentTypeA[b-wnnzo4frz8]::placeholder {
    color: #8A8A8A;
}

.modalContentTypeC[b-wnnzo4frz8] {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px;
    width: 100%;
    height: 44px;
    border: 1px solid #D0D0D0;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
    cursor: pointer;
    transition: border-color 0.3s ease, background-color 0.3s ease;
    position: relative;
}

.calendarIcon[b-wnnzo4frz8] {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 8px;
    background-image: url("images/DateFrame.svg");
    background-size: contain;
    background-repeat: no-repeat;
}

.calendarText[b-wnnzo4frz8] {
    font-size: 14px;
    color: #6B6B6B;
    flex-grow: 1;
}


.hiddenCalendarInput[b-wnnzo4frz8] {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0; /* UI를 완전히 숨김 */
    pointer-events: all; /* 클릭은 가능 */
    z-index: 10; /* 상위에 표시 */
    cursor: pointer; /* 클릭 가능한 커서 */
}

.visibleCalendarInput[b-wnnzo4frz8] {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    background: transparent;
    cursor: pointer;
    z-index: 10; /* 상위에 표시되도록 설정 */
}

.paginationContainer[b-wnnzo4frz8] {
    display: flex; /* 플렉스 박스로 설정 */
    justify-content: center; /* 자식 요소를 가로로 중앙 정렬 */
    align-items: center; /* 자식 요소를 세로로 중앙 정렬 */
    gap: 8px; /* 버튼 간의 간격 */
    margin-top: 16px; /* 위쪽 여백 추가 */
}

.paginationArrow-button[b-wnnzo4frz8] {
    background-image: url("images/PaginationVector.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 7.5px;
    height: 15px;
    border: none;
    background-color: transparent;
}
.paginationArrow-button:disabled[b-wnnzo4frz8] {
    background-image: url("images/PaginationVector.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border: none;
    background-color: transparent;
}

.paginationArrow-button.prev[b-wnnzo4frz8] {
    transform: rotate(0deg);
}

.paginationArrow-button.next[b-wnnzo4frz8] {
    transform: rotate(180deg);
}

.pageButton[b-wnnzo4frz8] {
    background-image: none;
    background-color: transparent;
    border: none;
    font-size: 14px;
    text-align: center;
    gap: 32px;
}

.default[b-wnnzo4frz8] {
    color: #000000;
    font-weight: 400;
}

.selected[b-wnnzo4frz8] {
    color: #0099FF;
    font-weight: 700;
}

.dropdownArrow[b-wnnzo4frz8] {
    position: absolute;
    top: 50%;
    right: 12px;
    width: 16px;
    height: 16px;
    transform: translateY(-50%) rotate(0deg); /* 기본 아래 방향 */
    background-image: url("images/DropdownArrow.svg");
    background-repeat: no-repeat;
    background-size: contain; /* 이미지 크기 조정 */
}

.dropdownArrow.up[b-wnnzo4frz8] {
    transform: translateY(-50%) rotate(180deg); /* 위쪽 방향 */
}

.modalDropdown option[b-wnnzo4frz8] {
    color: #000000; /* 옵션 텍스트 색상 */
    background: white; /* 옵션 배경색 */
}

.modalContentTypeD[b-wnnzo4frz8] {
    position: relative; /* 부모 컨테이너로 위치 제어 */
    width: 100%;
    height: auto;
    gap: 4px;
}

.uploadFileDragDropArea[b-wnnzo4frz8] {
    width: 100%;
    height: 123px;
    border: 1px solid #D3D3D3;
    border-radius: 4px;
    justify-content: center; /* 자식 요소를 가로로 중앙 정렬 */
    padding: 20px 12px 20px 12px;
    gap: 10px;
}

.uploadFileListArea[b-wnnzo4frz8] {
    width: 100%;
    height: 44px;
    background-color: #EFEFEF;
    border-radius: 4px;
    padding: 12px;
    justify-content: center; /* 자식 요소를 가로로 중앙 정렬 */
}

.radioDefault[b-wnnzo4frz8] {
    width: 18px;
    height: 18px;
    appearance: none; /* 기본 스타일 제거 */
    position: relative;
    box-sizing: border-box;
}

.radioDefault[b-wnnzo4frz8]::after {
    content: '';
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 18px;
    height: 18px;
    border: 1px solid #d3d3d3;
    border-radius: 50%;
}

.radioDefault.selected[b-wnnzo4frz8]::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 18px;
    height: 18px;
    border: 5px solid #0099FF;
    border-radius: 50%;
}

.radioGroupContainer[b-wnnzo4frz8] {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 32px;
    width: 100%;
    height: 44px;
}

.radioLabel[b-wnnzo4frz8] {
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
}

.radioText[b-wnnzo4frz8] {
    font-size: 14px;
    color: #000000;
}

.modalButtonBoxing[b-wnnzo4frz8] {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100px;
    gap: 12px;
}

.cancelSaveButtonBoxing[b-wnnzo4frz8] {
    display: flex;
    align-items: center;
    width: 100%;
    height: 44px;
    gap: 12px;
}

.cancelButton[b-wnnzo4frz8] {
    background-color: white;
    color: black;
    width: 100%;
    height: 44px;
    border: 1px #d3d3d3 solid;
    border-radius: 4px;
    gap: 10px;
    font-size: 14px;
    font-weight: 400;
}

.saveButton[b-wnnzo4frz8] {
    background-color: #0099FF;
    width: 100%;
    height: 44px;
    border: 0;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 400;
    color: white;
}

.deleteButton[b-wnnzo4frz8] {
    background-color: white;
    color:#EF4444;
    width: 100%;
    height: 44px;
    padding: 10px 18px;
    border: 1px #ef4444 solid;
    border-radius: 4px;
    gap: 8px;
    font-size: 14px;
    font-weight: 400;
}

.modalDropDown[b-wnnzo4frz8] {
    display: block;
    width: 100%;
    height: 100%;
    padding: 12px;
    padding-right: 40px; /* 화살표 공간 확보 */
    border: none;
    border-radius: 4px;
    font-size: 14px;
    color: #8A8A8A;
    background-color: white;
    appearance: none; /* 기본 드롭다운 화살표 제거 */
    outline: none;
    cursor: pointer;
}

.dropdownArrow[b-wnnzo4frz8] {
    position: absolute;
    top: 50%;
    right: 12px;
    width: 16px;
    height: 16px;
    transform: translateY(-50%) rotate(0deg); /* 기본 아래 방향 */
    background-image: url("images/DropdownArrow.svg");
    background-repeat: no-repeat;
    background-size: contain; /* 이미지 크기 조정 */
}

.dropdownArrow.up[b-wnnzo4frz8] {
    transform: translateY(-50%) rotate(180deg); /* 위쪽 방향 */
}

.modalDropdown option[b-wnnzo4frz8] {
    color: #000000; /* 옵션 텍스트 색상 */
    background: white; /* 옵션 배경색 */
}

.modalContentTypeB[b-wnnzo4frz8] {
    position: relative; /* 부모 컨테이너로 위치 제어 */
    width: 100%;
    height: 44px;
    border: 1px solid #D3D3D3;
    border-radius: 4px;
}
/* _content/StartupWing_BlazorServer/Components/Modals/AddDocumentModal.razor.rz.scp.css */
input[b-yarxcxb7wr] {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
}

input[type="date"][b-yarxcxb7wr] {
    display: block;
    padding: 12px;
    width: 100%;
    height: 44px;
    border: 1px solid #D3D3D3;
    border-radius: 4px;
    box-shadow: none;
    background-color: white;
    outline: none;
    cursor: pointer;
}

input[b-yarxcxb7wr]::placeholder {
    color: #8A8A8A;
}

.modal-content[b-yarxcxb7wr] {
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 640px;
    max-height: 80vh;
    padding: 24px;
    border-radius: 12px;
    position: relative;
    align-items: center;
    gap: 20px;
    overflow-y: auto;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.modal-content[b-yarxcxb7wr]::-webkit-scrollbar {
    display: none;
}

.modal-content[b-yarxcxb7wr] {
    scrollbar-width: none;
}

.modalContentArea[b-yarxcxb7wr] {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 100%;
    height: auto;
}

.modalContentBoxing[b-yarxcxb7wr] {
    display: flex;
    flex-direction: column;
    gap: 2px;
    width: 100%;
    height: auto;
}

.modalTitle[b-yarxcxb7wr] {
    width: 100%;
    height: 24px;
    font-weight: 700;
    font-size: 20px;
    color: black;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.modalContentTitle[b-yarxcxb7wr] {
    display: block;
    font-size: 14px;
    font-weight: 400;
    color: #000000;
    text-align: left;
    line-height: 17px;
    width: auto;
    height: 17px;
    margin: 0;
    padding: 0;
}

.modalContentTypeA[b-yarxcxb7wr] {
    display: block;
    padding: 12px;
    width: 100%;
    height: 44px;
    border: 1px solid #D3D3D3;
    border-radius: 4px;
    box-shadow: none;
    background-color: white;
    outline: none;
}

.modalContentTypeA[b-yarxcxb7wr]::placeholder {
    color: #8A8A8A;
}

.modalContentTypeC[b-yarxcxb7wr] {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px;
    width: 100%;
    height: 44px;
    border: 1px solid #D0D0D0;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
    cursor: pointer;
    transition: border-color 0.3s ease, background-color 0.3s ease;
    position: relative;
}

.calendarIcon[b-yarxcxb7wr] {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 8px;
    background-image: url("images/DateFrame.svg");
    background-size: contain;
    background-repeat: no-repeat;
}

.calendarText[b-yarxcxb7wr] {
    font-size: 14px;
    color: #6B6B6B;
    flex-grow: 1;
}


.hiddenCalendarInput[b-yarxcxb7wr] {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0; /* UI를 완전히 숨김 */
    pointer-events: all; /* 클릭은 가능 */
    z-index: 10; /* 상위에 표시 */
    cursor: pointer; /* 클릭 가능한 커서 */
}

.visibleCalendarInput[b-yarxcxb7wr] {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    background: transparent;
    cursor: pointer;
    z-index: 10; /* 상위에 표시되도록 설정 */
}

.paginationContainer[b-yarxcxb7wr] {
    display: flex; /* 플렉스 박스로 설정 */
    justify-content: center; /* 자식 요소를 가로로 중앙 정렬 */
    align-items: center; /* 자식 요소를 세로로 중앙 정렬 */
    gap: 8px; /* 버튼 간의 간격 */
    margin-top: 16px; /* 위쪽 여백 추가 */
}

.paginationArrow-button[b-yarxcxb7wr] {
    background-image: url("images/PaginationVector.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 7.5px;
    height: 15px;
    border: none;
    background-color: transparent;
}
.paginationArrow-button:disabled[b-yarxcxb7wr] {
    background-image: url("images/PaginationVector.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border: none;
    background-color: transparent;
}

.paginationArrow-button.prev[b-yarxcxb7wr] {
    transform: rotate(0deg);
}

.paginationArrow-button.next[b-yarxcxb7wr] {
    transform: rotate(180deg);
}

.pageButton[b-yarxcxb7wr] {
    background-image: none;
    background-color: transparent;
    border: none;
    font-size: 14px;
    text-align: center;
    gap: 32px;
}

.default[b-yarxcxb7wr] {
    color: #000000;
    font-weight: 400;
}

.selected[b-yarxcxb7wr] {
    color: #0099FF;
    font-weight: 700;
}

.dropdownArrow[b-yarxcxb7wr] {
    position: absolute;
    top: 50%;
    right: 12px;
    width: 16px;
    height: 16px;
    transform: translateY(-50%) rotate(0deg); /* 기본 아래 방향 */
    background-image: url("images/DropdownArrow.svg");
    background-repeat: no-repeat;
    background-size: contain; /* 이미지 크기 조정 */
}

.dropdownArrow.up[b-yarxcxb7wr] {
    transform: translateY(-50%) rotate(180deg); /* 위쪽 방향 */
}

.modalDropdown option[b-yarxcxb7wr] {
    color: #000000; /* 옵션 텍스트 색상 */
    background: white; /* 옵션 배경색 */
}

.modalContentTypeD[b-yarxcxb7wr] {
    position: relative; /* 부모 컨테이너로 위치 제어 */
    width: 100%;
    height: auto;
    gap: 4px;
}

.uploadFileDragDropArea[b-yarxcxb7wr] {
    width: 100%;
    height: 123px;
    border: 1px solid #D3D3D3;
    border-radius: 4px;
    justify-content: center; /* 자식 요소를 가로로 중앙 정렬 */
    padding: 20px 12px 20px 12px;
    gap: 10px;
}

.uploadFileListArea[b-yarxcxb7wr] {
    width: 100%;
    height: 44px;
    background-color: #EFEFEF;
    border-radius: 4px;
    padding: 12px;
    justify-content: center; /* 자식 요소를 가로로 중앙 정렬 */
}

.radioDefault[b-yarxcxb7wr] {
    width: 18px;
    height: 18px;
    appearance: none; /* 기본 스타일 제거 */
    position: relative;
    box-sizing: border-box;
}

.radioDefault[b-yarxcxb7wr]::after {
    content: '';
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 18px;
    height: 18px;
    border: 1px solid #d3d3d3;
    border-radius: 50%;
}

.radioDefault.selected[b-yarxcxb7wr]::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 18px;
    height: 18px;
    border: 5px solid #0099FF;
    border-radius: 50%;
}

.radioGroupContainer[b-yarxcxb7wr] {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 32px;
    width: 100%;
    height: 44px;
}

.radioLabel[b-yarxcxb7wr] {
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
}

.radioText[b-yarxcxb7wr] {
    font-size: 14px;
    color: #000000;
}

.modalButtonBoxing[b-yarxcxb7wr] {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100px;
    gap: 12px;
}

.cancelSaveButtonBoxing[b-yarxcxb7wr] {
    display: flex;
    align-items: center;
    width: 100%;
    height: 44px;
    gap: 12px;
}

.cancelButton[b-yarxcxb7wr] {
    background-color: white;
    color: black;
    width: 100%;
    height: 44px;
    border: 1px #d3d3d3 solid;
    border-radius: 4px;
    gap: 10px;
    font-size: 14px;
    font-weight: 400;
}

.saveButton[b-yarxcxb7wr] {
    background-color: #0099FF;
    width: 100%;
    height: 44px;
    border: 0;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 400;
    color: white;
}

.deleteButton[b-yarxcxb7wr] {
    background-color: white;
    color:#EF4444;
    width: 100%;
    height: 44px;
    padding: 10px 18px;
    border: 1px #ef4444 solid;
    border-radius: 4px;
    gap: 8px;
    font-size: 14px;
    font-weight: 400;
}
/* _content/StartupWing_BlazorServer/Components/Modals/AddEmployeeModal.razor.rz.scp.css */
.modal-content[b-94m3c01sn7] {
    background: white;
    width: 460px;
    padding: 30px 40px 40px 40px;
    border-radius: 16px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 30px;
    z-index: 1100;
}

.modal-header[b-94m3c01sn7] {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 10px;
}

.modal-title[b-94m3c01sn7] {
    font-size: 18px;
    font-weight: 700;
    color: black;
}

.modal-underline[b-94m3c01sn7] {
    height: 4px;
    width: 100%;
    background-color: #0099FF;
    margin: 4px 0;
}

.modal-subtitle[b-94m3c01sn7] {
    font-size: 14px;
    font-weight: 400;
    color: #888888;
}

.email-input-group[b-94m3c01sn7] {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.email-label[b-94m3c01sn7] {
    font-size: 14px;
    font-weight: 700;
    color: #888888;
}

.email-items-container[b-94m3c01sn7] {
    display: flex;
    flex-wrap: wrap;
    gap: 0px 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #cccccc;
    position: relative;
}

.email-item[b-94m3c01sn7] {
    display: flex;
    align-items: center;
    padding: 6px 0px;
    color: #0099FF;
    font-size: 14px;
    gap: 6px;
    max-width: calc(100% - 20px);
    word-break: break-word;
}

.delete-button[b-94m3c01sn7] {
    all: unset;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.delete-icon[b-94m3c01sn7] {
    width: 18px;
    height: 18px;
}

.email-input[b-94m3c01sn7] {
    border: none;
    outline: none;
    font-size: 16px;
    padding: 4px;
    width: 150px;
    flex: 1;
    color: #333333;
}

.email-input[b-94m3c01sn7]::placeholder {
    color: #cccccc;
}

.submit-button[b-94m3c01sn7] {
    width: 100%;
    height: 60px;
    padding: 20px;
    background-color: #0099FF;
    color: white;
    font-size: 18px;
    font-weight: 700;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.submit-button:hover[b-94m3c01sn7] {
    background-color: #007ACC;
}

.AddSuccess-modal-content[b-94m3c01sn7] {
    background: white;
    width: 460px;
    padding: 30px 40px;
    border-radius: 16px;
    box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 40px;
    z-index: 1100;
}

.AddSuccess-modal-header[b-94m3c01sn7] {
    display: flex;
    justify-content: center;
    align-items: center;
}

.message[b-94m3c01sn7] {
    font-size: 18px;
    font-weight: 700;
    color: black;
    text-align: center;
    word-wrap: break-word;
    margin: 20px 0;
    line-height: 1.5;
}

.AddSuccess-modal-footer[b-94m3c01sn7] {
    display: flex;
    justify-content: center;
    align-items: center;
}

.AddSuccess-confirm-button[b-94m3c01sn7] {
    width: 100%;
    max-width: 380px;
    height: 60px;
    background-color: #0099FF;
    color: white;
    font-size: 18px;
    font-weight: 700;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
}

.AddSuccess-confirm-button:hover[b-94m3c01sn7] {
    background-color: #007ACC;
}
/* _content/StartupWing_BlazorServer/Components/Modals/LoginModal.razor.rz.scp.css */
button[b-pkpwnacdye] {
    border: 0;
    background: transparent;
}

.modal-content[b-pkpwnacdye] {
    background: white;
    width: 460px;
    max-height: 80vh;
    padding: 30px 40px 40px 40px;
    border-radius: 16px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 40px;
    z-index: 1100;
    overflow-y: auto;
}

.modal-header[b-pkpwnacdye] {
    width: 380px;
    height: 60px;
    display: flex;
    flex-direction: row;
}

.modal-header-item[b-pkpwnacdye] {
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: column;
}

.modal-header-item-text[b-pkpwnacdye] {
    width: 100%;
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-header-item-enableLine[b-pkpwnacdye] {
    width: 100%;
    height: 4px;
    background-color: #0099ff;
}

.modal-header-item-disableLine[b-pkpwnacdye] {
    width: 100%;
    height: 4px;
    background-color: #cccccc;
}

.modal-title[b-pkpwnacdye] {
    font-size: 18px;
    font-weight: 700;
    color: black;
}

.modal-body[b-pkpwnacdye] {
    width: 380px;
    height: 180px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.modal-body-input-layout[b-pkpwnacdye] {
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.modal-body-input-title[b-pkpwnacdye] {
    font-weight: 700;
    font-size: 14px;
    color: #888888;
}

.modal-body-input[b-pkpwnacdye] {
    width: 100%;
    height: 40px;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid #888888;
    gap: 10px;
}

input[b-pkpwnacdye]::placeholder {
    font-size: 16px;
    font-weight: 400;
    color: #cccccc;
}

.modal-button[b-pkpwnacdye] {
    width: 380px;
    height: 60px;
    border-radius: 4px;
    padding: 0 20px;
    background-color: #0099ff;
    align-items: center;
    justify-content: center;
    display: flex;
    cursor: pointer;
}

.modal-button-text[b-pkpwnacdye] {
    font-size: 18px;
    font-weight: 700;
    color: white;
}
/* _content/StartupWing_BlazorServer/Components/Modals/Modal.razor.rz.scp.css */
.modal-overlay[b-hw59suubep] {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  display: none;
  justify-content: center;
  align-items: center;
  padding-bottom: env(safe-area-inset-bottom);

  &.active {
    display: flex;
  }
  
  &.close[b-hw59suubep] {
    background-color: rgba(0, 0, 0, 0.1);
  }
}
/* _content/StartupWing_BlazorServer/Components/Modals/ModifyEmployeeModal.razor.rz.scp.css */
input[b-xbemt44ofy] {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
}

input[type="date"][b-xbemt44ofy] {
    display: block;
    padding: 12px;
    width: 100%;
    height: 44px;
    border: 1px solid #D3D3D3;
    border-radius: 4px;
    box-shadow: none;
    background-color: white;
    outline: none;
    cursor: pointer;
}

input[b-xbemt44ofy]::placeholder {
    color: #8A8A8A;
}

.modal-content[b-xbemt44ofy] {
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 640px;
    max-height: 80vh;
    padding: 24px;
    border-radius: 12px;
    position: relative;
    align-items: center;
    gap: 20px;
    overflow-y: auto;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.modal-content[b-xbemt44ofy]::-webkit-scrollbar {
    display: none;
}

.modal-content[b-xbemt44ofy] {
    scrollbar-width: none;
}

.modalContentArea[b-xbemt44ofy] {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 100%;
    height: auto;
}

.modalContentBoxing[b-xbemt44ofy] {
    display: flex;
    flex-direction: column;
    gap: 2px;
    width: 100%;
    height: auto;
}

.modalTitle[b-xbemt44ofy] {
    width: 100%;
    height: 24px;
    font-weight: 700;
    font-size: 20px;
    color: black;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.modalContentTitle[b-xbemt44ofy] {
    display: block;
    font-size: 14px;
    font-weight: 400;
    color: #000000;
    text-align: left;
    line-height: 17px;
    width: auto;
    height: 17px;
    margin: 0;
    padding: 0;
}

.modalContentTypeA[b-xbemt44ofy] {
    display: block;
    padding: 12px;
    width: 100%;
    height: 44px;
    border: 1px solid #D3D3D3;
    border-radius: 4px;
    box-shadow: none;
    background-color: white;
    outline: none;
}

.modalContentTypeA[b-xbemt44ofy]::placeholder {
    color: #8A8A8A;
}

.modalContentTypeC[b-xbemt44ofy] {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px;
    width: 100%;
    height: 44px;
    border: 1px solid #D0D0D0;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
    cursor: pointer;
    transition: border-color 0.3s ease, background-color 0.3s ease;
    position: relative;
}

.calendarIcon[b-xbemt44ofy] {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 8px;
    background-image: url("images/DateFrame.svg");
    background-size: contain;
    background-repeat: no-repeat;
}

.calendarText[b-xbemt44ofy] {
    font-size: 14px;
    color: #6B6B6B;
    flex-grow: 1;
}

.hiddenCalendarInput[b-xbemt44ofy] {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    pointer-events: all;
    z-index: 10;
    cursor: pointer;
}

.visibleCalendarInput[b-xbemt44ofy] {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    background: transparent;
    cursor: pointer;
    z-index: 10;
}

.radioGroupContainer[b-xbemt44ofy] {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 32px;
    width: 100%;
    height: 44px;
}

.radioLabel[b-xbemt44ofy] {
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
}

.radioText[b-xbemt44ofy] {
    font-size: 14px;
    color: #000000;
}

.modalButtonBoxing[b-xbemt44ofy] {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100px;
    gap: 12px;
}

.cancelSaveButtonBoxing[b-xbemt44ofy] {
    display: flex;
    align-items: center;
    width: 100%;
    height: 44px;
    gap: 12px;
}

.cancelButton[b-xbemt44ofy] {
    background-color: white;
    color: black;
    width: 100%;
    height: 44px;
    border: 1px #d3d3d3 solid;
    border-radius: 4px;
    gap: 10px;
    font-size: 14px;
    font-weight: 400;
}

.saveButton[b-xbemt44ofy] {
    background-color: #0099FF;
    width: 100%;
    height: 44px;
    border: 0;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 400;
    color: white;
}

.deleteButton[b-xbemt44ofy] {
    background-color: white;
    color:#EF4444;
    width: 100%;
    height: 44px;
    padding: 10px 18px;
    border: 1px #ef4444 solid;
    border-radius: 4px;
    gap: 8px;
    font-size: 14px;
    font-weight: 400;
}
/* _content/StartupWing_BlazorServer/Components/Modals/Popup.razor.rz.scp.css */
.modal[b-g1q59qtnp3] {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
}

.modal-dialog[b-g1q59qtnp3] {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.modal-content[b-g1q59qtnp3] {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 30%;
}

.modal-header[b-g1q59qtnp3] {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #e9ecef;
}

.modal-title[b-g1q59qtnp3] {
    margin: 0;
    font-size: 1.25rem;
    font-weight: 500;
}

.btn-close[b-g1q59qtnp3] {
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: 0.5;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.modal-body[b-g1q59qtnp3] {
    padding: 10px;
}

.modal-footer[b-g1q59qtnp3] {
    display: flex;
    justify-content: flex-end;
    padding: 10px;
    border-top: 1px solid #e9ecef;
    gap: 10px;
}

.btn[b-g1q59qtnp3] {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn-secondary[b-g1q59qtnp3] {
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
}

.btn-primary[b-g1q59qtnp3] {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}
/* _content/StartupWing_BlazorServer/Components/Pages/CustomerManage.razor.rz.scp.css */
.contractButtonArea[b-5f1m7e8mn3] {
    display: flex;
    align-items: center;
    width: 100%;
    height: 32px;
    gap: 12px;
}

.contractButton[b-5f1m7e8mn3] {
    background-color: #ffffff;
    border: 1px solid #0099FF;
    border-radius: 100px;
    color: #0099FF;
    padding: 4px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    font-weight: 600;
    line-height: 24px;
}

.contractButton.selected[b-5f1m7e8mn3] {
    background-color: #0099FF;
    color: #ffffff;
}

.dotLine[b-5f1m7e8mn3] {
    background-image: url("images/dotLine.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 1px;
    height: 32px;
}

.table-header-item[b-5f1m7e8mn3] {
    font-weight: 700;
    font-size: 14px;
    padding: 16px 12px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%
}

.table-body-item[b-5f1m7e8mn3] {
    font-weight: 400;
    font-size: 14px;
    padding: 16px 8px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
}
/* _content/StartupWing_BlazorServer/Components/Pages/Dashboard.razor.rz.scp.css */
input[type="checkbox"][b-6d4f5xir9i] {
    appearance: none;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 1px solid #0099ff;
    background-color: white;
    background-clip: content-box;
    padding: 0.2em;
    cursor: pointer;
}

input[type="checkbox"]:checked[b-6d4f5xir9i] {
    border-color: #0099ff;
    background-color: #0099ff;
}

.header[b-6d4f5xir9i] {
    display: flex;
    justify-content: space-between;
}

.modify[b-6d4f5xir9i] {
    display: flex;
    gap: 10px;
    align-items: center;
    cursor: pointer;
}

.modify img[b-6d4f5xir9i] {
    width: 12px;
    height: 12px;
}

.modify-text[b-6d4f5xir9i] {
    font-size: 12px;
    font-weight: 400;
}

.dashboard-row[b-6d4f5xir9i] {
    display: flex;
    gap: 10px;
}

.dashboard-col-3[b-6d4f5xir9i] {
    flex: 0 0 33%;
    max-width: 33%;
    padding: 10px;
}

.modal-overlay[b-6d4f5xir9i] {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-base[b-6d4f5xir9i] {
    position: relative;
    display: contents;
}

.modal-content[b-6d4f5xir9i] {
    position: absolute;
    width: 200px;
    height: 344px;
    right: 30px;
    border-radius: 4px;
    border: 1px solid #f0f0f0;
    background-color: white;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.modal-list[b-6d4f5xir9i] {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 8px;
}

.modal-list-item[b-6d4f5xir9i] {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4px;
    width: 100%;
}

.modal-list-item-title[b-6d4f5xir9i] {
    font-weight: 400;
    font-size: 12px;
    line-height: 24px;
}

.modal-list-button[b-6d4f5xir9i] {
    width: 184px;
    height: 32px;
    margin-top: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: #0099ff;
    border-radius: 4px;
    cursor: pointer;
}

.modal-list-button-text[b-6d4f5xir9i] {
    font-weight: 700;
    font-size: 12px;
    color: white;
}

.home[b-6d4f5xir9i] {
    top: 164px;
}

.full[b-6d4f5xir9i] {
    top: 80px;
}
/* _content/StartupWing_BlazorServer/Components/Pages/DocumentManage.razor.rz.scp.css */
.table-header-item[b-0bcxt2igyl] {
    font-weight: 700;
    font-size: 14px;
    padding: 16px 12px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%
}

.table-body-item[b-0bcxt2igyl] {
    font-weight: 400;
    font-size: 14px;
    padding: 16px 8px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
}
/* _content/StartupWing_BlazorServer/Components/Pages/EmployeeManage.razor.rz.scp.css */
.table-header-item[b-3oz636pb0y] {
    font-weight: 700;
    font-size: 14px;
    padding: 16px 12px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
}

.table-body-item[b-3oz636pb0y] {
    font-weight: 400;
    font-size: 14px;
    padding: 16px 8px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
}

.normalBadge[b-3oz636pb0y] {
    width: 61px;
    height: 28px;
    border-radius: 4px;
    padding: 6px 12px 6px 12px;
    background-color: rgba(0, 153, 255, 0.15);
    color: #0099ff;
    font-size: 14px;
    font-weight: 700;
}

.adminBadge[b-3oz636pb0y] {
    width: 61px;
    height: 28px;
    border-radius: 4px;
    padding: 6px 12px;
    background-color: rgba(255, 34, 34, 0.15);
    color: #ff2222;
    font-size: 14px;
    font-weight: 700;
}

.conciergeBadge[b-3oz636pb0y] {
    width: 61px;
    height: 28px;
    border-radius: 4px;
    padding: 6px 12px;
    background-color: rgba(133, 133, 133, 0.15);
    color: #999999;
    font-size: 14px;
    font-weight: 700;
}
/* _content/StartupWing_BlazorServer/Components/Pages/WorkRequest.razor.rz.scp.css */
.contents[b-soypdl0gs8] {
    display: flex;
    flex-direction: column;
    width: 1220px;
    align-items: center;
    gap: 30px;
    padding: 30px 40px;
    position: relative;
}

.contents .contents-main[b-soypdl0gs8] {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 48px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
    background-color: #ffffff;
    border-radius: 4px;
}

.contents .view[b-soypdl0gs8] {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
}

.contents .frame[b-soypdl0gs8] {
    display: flex;
    width: 1142px;
    align-items: flex-start;
    justify-content: center;
    gap: 354px;
    position: relative;
    flex: 0 0 auto;
    margin-top: -1.00px;
    margin-left: -1.00px;
    margin-right: -1.00px;
    background-color: #ffffff;
}

.contents .text-wrapper[b-soypdl0gs8] {
    position: relative;
    flex: 1;
    align-self: stretch;
    font-weight: 500;
    color: #000000;
    font-size: 20px;
    letter-spacing: 0;
    line-height: 28px;
    white-space: nowrap;
}

.contents .div[b-soypdl0gs8] {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
    margin-left: -1.00px;
    margin-right: -1.00px;
    border-top-width: 1px;
    border-top-style: solid;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-color: #cccccc;
}

.contents .frame-2[b-soypdl0gs8] {
    position: relative;
    align-self: stretch;
    width: 100%;
    height: 196px;
}

.contents .frame-3[b-soypdl0gs8] {
    display: flex;
    flex-direction: column;
    width: 960px;
    height: 196px;
    align-items: flex-start;
    gap: 4px;
    padding: 20px;
    position: absolute;
    top: 0;
    left: 180px;
    background-color: #ffffff;
}

.contents .div-wrapper[b-soypdl0gs8] {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    gap: 8px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
}

.contents .text-wrapper-2[b-soypdl0gs8] {
    width: fit-content;
    margin-top: -1.00px;
    font-weight: 500;
    color: #cccccc;
    font-size: 14px;
    line-height: 20px;
    white-space: nowrap;
    position: relative;
    letter-spacing: 0;
}

.contents .frame-4[b-soypdl0gs8] {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    position: relative;
    flex: 1;
    align-self: stretch;
    width: 100%;
    flex-grow: 1;
}

.contents .frame-5[b-soypdl0gs8] {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 6px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
}

.contents .frame-6[b-soypdl0gs8] {
    display: flex;
    align-items: flex-start;
    gap: 10px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
}

.contents .text-wrapper-3[b-soypdl0gs8] {
    flex: 1;
    margin-top: -1.00px;
    font-weight: 400;
    color: #000000;
    font-size: 16px;
    line-height: 20px;
    position: relative;
    letter-spacing: 0;
}

.contents .service-tab[b-soypdl0gs8] {
    display: flex;
    flex-direction: column;
    width: 180px;
    height: 196px;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 16px 20px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #eeeeee;
}

.contents .clipboard-outline[b-soypdl0gs8] {
    position: relative;
    width: 64px;
    height: 64px;
}

.contents .text-wrapper-4[b-soypdl0gs8] {
    width: fit-content;
    font-weight: 500;
    color: #000000;
    font-size: 18px;
    text-align: center;
    line-height: normal;
    white-space: nowrap;
    position: relative;
    letter-spacing: 0;
}

.contents .line[b-soypdl0gs8] {
    position: relative;
    align-self: stretch;
    width: 100%;
    height: 1px;
    object-fit: cover;
    background-color: #CCCCCC;
}

.contents .frame-7[b-soypdl0gs8] {
    display: flex;
    align-items: center;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
}

.contents .service-tab-2[b-soypdl0gs8] {
    display: flex;
    flex-direction: column;
    width: 180px;
    height: 196px;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 16px 20px;
    position: relative;
    background-color: #eeeeee;
}

.contents .frame-8[b-soypdl0gs8] {
    display: flex;
    flex-direction: column;
    width: 960px;
    align-items: flex-start;
    gap: 16px;
    padding: 20px;
    position: relative;
    align-self: stretch;
    background-color: #ffffff;
    border-radius: 4px;
    overflow: hidden;
}

.contents .frame-9[b-soypdl0gs8] {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
}

.contents .text-wrapper-5[b-soypdl0gs8] {
    width: 604px;
    height: 20px;
    margin-top: -1.00px;
    font-weight: 500;
    color: #000000;
    font-size: 16px;
    line-height: 20px;
    white-space: nowrap;
    position: relative;
    letter-spacing: 0;
}

.contents .text-wrapper-6[b-soypdl0gs8] {
    width: 100px;
    height: 20px;
    margin-top: -1.00px;
    font-weight: 500;
    color: #cccccc;
    font-size: 14px;
    text-align: right;
    line-height: 20px;
    white-space: nowrap;
    position: relative;
    letter-spacing: 0;
}

.contents .frame-10[b-soypdl0gs8] {
    display: flex;
    height: 120px;
    align-items: flex-start;
    gap: 10px;
    padding: 8px;
    position: relative;
    align-self: stretch;
    width: 100%;
    border-radius: 4px;
    border: 1px solid;
    border-color: #cccccc;
}

.contents .frame-10:focus[b-soypdl0gs8] {
    outline: 1px solid #0099FF;
    border-color: #0099FF;
}

.contents .text-wrapper-7[b-soypdl0gs8] {
    align-self: stretch;
    width: 768px;
    margin-top: -1.00px;
    font-weight: 400;
    color: #cccccc;
    font-size: 16px;
    line-height: normal;
    position: relative;
    letter-spacing: 0;
}

.contents .btn[b-soypdl0gs8] {
    all: unset;
    box-sizing: border-box;
    display: flex;
    width: 1140px;
    align-items: flex-start;
    gap: 20px;
    position: relative;
    flex: 0 0 auto;
}

.contents .btn:focus[b-soypdl0gs8],
.contents .btn:active[b-soypdl0gs8] {
    outline: none;
    box-shadow: none;
}

.contents .btn:hover[b-soypdl0gs8] {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.contents .frame-11[b-soypdl0gs8] {
    display: flex;
    height: 60px;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 0px 20px;
    position: relative;
    flex: 1;
    flex-grow: 1;
    background-color: #0099ff;
    border-radius: 4px;
    outline: none;
    box-shadow: none;
}

.contents .text-wrapper-8[b-soypdl0gs8] {
    width: fit-content;
    font-weight: 700;
    color: #ffffff;
    font-size: 18px;
    line-height: normal;
    white-space: nowrap;
    position: relative;
    letter-spacing: 0;
}

.check-container[b-soypdl0gs8] {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    position: relative;
}

.check-container input[b-soypdl0gs8] {
    display: none;
}

.check-mark[b-soypdl0gs8] {
    position: relative;
    width: 20px;
    height: 20px;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 4px;
}

.check-container input:checked + .check-mark[b-soypdl0gs8]::after {
    content: '';
    position: absolute;
    top: 2px;
    left: 6px;
    width: 6px;
    height: 12px;
    border: solid #0099FF;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}
/* _content/StartupWing_BlazorServer/Components/Templates/SearchTemplate.razor.rz.scp.css */
input[b-aeupi4e9wy] {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
}

input[b-aeupi4e9wy]::placeholder {
    color: #8A8A8A;
}

button:disabled[b-aeupi4e9wy] {
    background-color: #d3d3d3;
    color: #888;
    border: 1px solid #ccc;
    cursor: not-allowed;
    opacity: 0.8;
}

.horizontal[b-aeupi4e9wy] {
    display: flex;
    flex-direction: row;
    gap: 8px;
    position: relative;
    margin-bottom: 20px;
}

.inputField_search[b-aeupi4e9wy] {
    background-image: url("images/icon-search.svg");
    background-position: 10px center;
    background-repeat: no-repeat;
    padding: 10px 14px 10px 40px;
    width: 390px;
    height: 44px;
    border-width: 1px;
    border-color: #CCCCCC;
    border-radius: 4px;
    gap: 8px;
}

.button[b-aeupi4e9wy] {
    width: 100px;
    height: 44px;
    background-color: #0099FF;
    border: 0;
    border-radius: 4px;
    padding: 10px 14px;
    gap: 8px;
}

.buttonText[b-aeupi4e9wy] {
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    color: #ffffff;
}

.sortButtons[b-aeupi4e9wy] {
    margin-left: auto; /* 오른쪽 끝으로 이동 */
    display: flex; /* 버튼들을 가로로 배치 */
    gap: 10px; /* 버튼 간격 */
    width: 170px; /* 전체 컨테이너 너비 */
    height: 44px; /* 전체 컨테이너 높이 */
}

.sortButton[b-aeupi4e9wy] {
    display: flex; /* 텍스트와 아이콘을 나란히 배치 */
    align-items: center; /* 세로 중앙 정렬 */
    width: 80px; /* 버튼 너비 */
    height: 44px; /* 버튼 높이 */
    padding: 10px 10px 6px; /* 상하좌우 패딩 */
    gap: 4px; /* 텍스트와 화살표 사이 간격 */
    border: none;
    background-color: transparent;
    font-weight: 400; /* 텍스트 두께 */
    font-size: 14px; /* 텍스트 크기 */
    line-height: 16px; /* 텍스트 줄 높이 */
    box-sizing: border-box; /* 패딩 포함 크기 계산 */
    color: #8A8A8A;
}

.sortButton.active[b-aeupi4e9wy] {
    color: #0099FF; /* 활성화된 버튼 텍스트 색상 */
}

.sortButtonText[b-aeupi4e9wy] {
    flex: 1; /* 텍스트가 공간을 차지하도록 설정 */
    text-align: left; /* 텍스트 왼쪽 정렬 */
}

.sortArrowIcon[b-aeupi4e9wy] {
    display: inline-block;
    position: relative;
    width: 14px;
    height: 14px;
    mask-image: url("images/DataSortArrow.svg"); /* 화살표 이미지를 마스크로 사용 */
    -webkit-mask-image: url("images/DataSortArrow.svg"); /* safari 같은 WebKit 브라우저 지원 */
    mask-size: contain;
    -webkit-mask-size: contain;
    mask-repeat: no-repeat;
    -webkit-mask-repeat: no-repeat;
    background-color: #8A8A8A; /* 기본 색상 */
}

.sortArrowIcon.down[b-aeupi4e9wy] {
    transform: rotate(180deg);
}

.sortArrowIcon.up[b-aeupi4e9wy] {
    transform: rotate(0deg);
}

.sortArrowIcon.active[b-aeupi4e9wy] {
    background-color: #0099FF;
    /* 활성화된 화살표 색상 */
}
/* _content/StartupWing_BlazorServer/Components/Templates/TableTemplate.razor.rz.scp.css */
.table[b-fsecnd0u8e] {
    gap: 10px;
    width: 100%;
}

.table-header[b-fsecnd0u8e] {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    background-color: #f7f7f7;
    gap: 20px;
    height: 48px;
}

.table-body[b-fsecnd0u8e] {
    display: grid;
    align-items: center;
    gap: 20px;
    grid-template-columns: repeat(7, 1fr);
    border-bottom: 1px solid #f7f7f7;
}

.table-body:hover[b-fsecnd0u8e] {
    background-color: #f7f7f7;
}

.emptyText[b-fsecnd0u8e] {
    font-weight: 700;
    font-size: 14px;
    text-align: center;
    margin: 30px;
}

.paginationContainer[b-fsecnd0u8e] {
    display: flex; /* 플렉스 박스로 설정 */
    justify-content: center; /* 자식 요소를 가로로 중앙 정렬 */
    align-items: center; /* 자식 요소를 세로로 중앙 정렬 */
    gap: 8px; /* 버튼 간의 간격 */
    margin-top: 16px; /* 위쪽 여백 추가 */
}

.paginationArrow-button[b-fsecnd0u8e] {
    background-image: url("images/PaginationVector.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 8px;
    height: 15px;
    border: none;
    background-color: transparent;
}
.paginationArrow-button:disabled[b-fsecnd0u8e] {
    background-image: url("images/PaginationVector.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border: none;
    background-color: transparent;
}

.paginationArrow-button.prev[b-fsecnd0u8e] {
    transform: rotate(0deg);
}

.paginationArrow-button.next[b-fsecnd0u8e] {
    transform: rotate(180deg);
}

.pageButton[b-fsecnd0u8e] {
    background-image: none;
    background-color: transparent;
    border: none;
    font-size: 14px;
    text-align: center;
    gap: 32px;
}

.default[b-fsecnd0u8e] {
    color: #000000;
    font-weight: 400;
}

.selected[b-fsecnd0u8e] {
    color: #0099FF;
    font-weight: 700;
}
